# Compiled source
*.pyc

# Compressed files
*.tar
*.xml.gz

# Data files
*.xdmf
*.h5
*.dat
*.pdf
*.zip
*.pickle

# Results
results

# Installation
/MUFLON.egg-info/

# Demos and tests
.cache/
demo/**/*.py
